<div class="card valine-card" data-aos="fade-up">
    <div class="comment_headling" id="comment"
        style="font-size: 20px; font-weight: 700; position: relative; padding-left: 50px; padding-right: 50px; top: 15px; padding-bottom: 20px;">
        📣
        <span>评论</span>
    </div>
    <noscript>Please enable JavaScript to view the comments.</a></noscript>
    <script src="https://giscus.app/client.js" data-repo="xiaozhu2007/blog" data-repo-id="R_kgDOHqmwqA"
        data-category="General" data-category-id="DIC_kwDOHqmwqM4CTEWV" data-mapping="pathname" data-strict="0"
        data-reactions-enabled="1" data-emit-metadata="1" data-input-position="top" data-theme="preferred_color_scheme"
        data-lang="zh-CN" data-loading="lazy" crossorigin="anonymous" async>
        </script>
</div>
<%- partial('_partial/back-comment.ejs') %>